body{
    color: red;
    background-color: white;
}
.welcome-name{
    text-align: center;
}

h1{
    color: #0A3871;
}

h4{
    text-align: center;
    color: #0A3871;
}

.general{
   text-align: center;
}

.paneles{

    text-align: center;
    display: inline-block;

}

.imagen{
    text-align: right;
    display: inline-block;

}

#txtnormal{
    border: 2px solid #0A3871;
    text-transform: lowercase;
    border-radius: 10px;
}

#txtencrip{
    border: 2px solid #0A3871;
    text-transform: lowercase;
    border-radius: 10px;
}

#txtimg{
    border: none;
    background-image: url(lupa2.gif);
}

.btn-group{
    text-align: center;
}


#btn-encriptar{
    width: 200px;
    height: 67px;
    color: white;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

#btn-desencriptar{
    width: 200px;
    height: 67px;
    color: #0A3871;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

#btn-copia{

    width: 200px;
    height: 67px;
    color: white;
    background: red;
    border: 1px solid red;
    border-radius: 24px;
}

footer{
   
    text-align: center;
    background-color: #0A3871;
    color: white;
}

a{
    color: white;
}